<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add.css">
    <title>Movie Information Form</title>
</head>

<body>
    <form action="./add.html" method="POST">{% csrf_token %}
        <label for="moviename">Movie Name:</label>
        <input type="text" id="moviename" name="moviename" placeholder="Enter movie name">
        <br>

        <label for="lang">Language:</label>
        <input type="text" id="lang" name="lang" placeholder="Enter language">
        <br>

        <label for="releDate">Release Date:</label>
        <input type="text" id="releDate" name="releDate" placeholder="Enter Release Date">
        <br>

        <label for="seatAvail">Available Seats:</label>
        <input type="number" id="seatAvail" name="seatAvail" placeholder="Enter Avaible Seats">
        <br>

        <label for="theatreName">Theatre Name:</label>
        <input type="text" id="theatreName" name="theatreName" placeholder="Enter Theatre Name">
        <br>

        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" placeholder="Enter rating">
        <br>
       

        <input type="submit" value="Submit">
    </form>
</body>

</html>